!config/pids/.gitkeep
!logs/.gitkeep
.bash_history
.cache
.config
.devenv
.direnv
.dotnet
.gitconfig
.ipython
.lesshst
.local
.mariadb_history
.npm
.python_history
.venv
.vscode-remote-containers
.vscode-server
.wget-hsts
.yarn
.yarnrc
**/__pycache__/*
**/error-snapshots/*
**/indexes/*
**/locks/*
**/logs/*
**/private/*
**/public/*
**/touched_tables.json
chromium
config/pids/*
env
logs/*
node_modules
pequea_bench/
queue.rdb
result
sites/assets/*